# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.RollingABall.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alex8\Downloads\UnityDeveloperTestJob_New_2019.4.10f\UnityDeveloperTestJob_New_2019.4.10f\RollingABall\.idea\.idea.RollingABall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
